*.txt
*.csv

*.png
*.jpg

*.pt
*.npz
*.npy
*.zip
*.tar.gz
*.gz

merged*/
quoted*/

AVIRIS/*
AVIRIS*/*
hyperspectral_autoencoder*/
noise_experiment*/

*.not_finished

*.json
cache*
results*
*experiments*
